@charset "utf-8";
/* CSS Document */

/**********************************************/
/************** Fonts Section *****************/
/**********************************************/

@import url("fonts.css");

/**********************************************/
/************* Main CSS Section ***************/
/**********************************************/

@import url("web-style.css");

/**********************************************/
/********** Twitter Footer Section ************/
/**********************************************/

@import url("twitter.css");

/**********************************************/
/************ Transition Section **************/
/**********************************************/

@import url("transitions.css");

/**********************************************/
/************** Media Section *****************/
/**********************************************/

@import url("media.css");

/**********************************************/
/*********** PrettyPhoto Section **************/
/**********************************************/

@import url("prettyPhoto.css");


/**********************************************/
/*********** header drop down **************/
/**********************************************/
#listinfo{
    position: absolute;
    top: 7em;
    left: 1.6em;
    font-size: 2em;
    font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
    padding:0em;
    margin:0em;
    color: #ffffff;
}
#listinfo li{
    list-style: none;
}
#listinfo a, #logo a:visited{
    display:block;
    padding:8px 18px 6px 18px;
    border: 1px solid #d5d5d5;
    background-color:white;
    font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
    /*color:#e1e1e1;*/
    color:#CB0004;
    font-size:20pt;
    font-weight:normal;
    text-decoration:none;
}

#listinfo a:hover {
    border: 1px solid #d5d5d5;
    background-color: #CB0004;
    color: white;
    text-decoration: none;
}


/**********************************************/
/*********** homepage slide **************/
/**********************************************/
#left_holder{
    height:450px;
    width:100px;
    position:absolute;
    left:0px;
    top:0px
}
#right_holder{
    height:450px;
    width:100px;
    position:absolute;
    right:0px;
    top:0px
}
.left{
    height:50px;
    width:50px;
    position:absolute;
    left:0px;
    top:40%;
}
.right{
    height:50px;
    width:50px;
    position:absolute;
    right:0px;
    top:40%;
}


#portal{
    border:1px solid blue;
    -webkit-box-flex: 1;
    margin:20px;
    padding:20px;
    text-align: center;
}


#portal h1:hover{
    background-color: red;
}

input[type="radio"]{
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #FFF;
    border: 1px solid #d2d2d2;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 130px;
}
#center{
    text-align: center;
    font-size: 2em;
}
/**********************************************/
/*********** accreditation **************/
/**********************************************/

#center{
    text-align: center;
    font-size: 1.4em;
}

/**********************************************/
/*********** admin site **************/
/**********************************************/

#adminNav{

    position: absolute;
    top: 7em;
    left: 1.6em;
    font-size: 2em;
    font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
    padding:0em;
    margin:0em;
    color: #ffffff;

}

#adminNav a, #logo a:visited {
    display: block;
    padding: 8px 18px 6px 18px;

    background-color: white;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    /*color:#e1e1e1;*/
    color: #CB0004;
    font-size: 20pt;
    font-weight: normal;
    text-decoration: none;
}
#adminNav a:hover {
    border: 1px solid #d5d5d5;
    background-color: #CB0004;
    color: white;
    text-decoration: none;
}
#adminNav li {
    list-style: none;
}

#wbg{
    background-color:white;
    height: 600px;
    width: 260px;
    float: left;

}
#forml{
}

