@charset "utf-8";
/* CSS Document */

/* BeginOAWidget_Instance_2559022: #slideshow */

#slideshow {
    padding: 10px;
    margin:0;
}
#slideshow-caption{
    padding:0;
    margin:0;
}

#slideshow img, #slideshow div {
    padding: 10px;
    background-color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
}

/* EndOAWidget_Instance_2559022 */
